<h1>Editar venda</h1>
<form action="/vendas/<%= venda.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="nome">venda</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= venda.nome %>" required>
    </div>
    <button type="submit" class="btn btn-warning">Salvar</button>
</form>
